.navigation {
  @apply text-white flex-col hidden sm:flex text-lg;

  background: #ff9cb3;
  background-image: linear-gradient(to bottom, #ff9cb3, #e6b8c4);
  min-width: 200px;
  max-width: 350px;
}

.navigation__logo {
  @apply h-52 flex justify-center items-center text-4xl flex-col;
}
.navigation__menu {
  @apply flex flex-col px-10 py-2;
  flex: 1;
}

.navigation__menu-item {
  @apply border-b-2 border-[#ffffff0a];
}

.navigation__menu-item a {
  @apply py-2 inline-block w-full h-full;
}

.navigation__socials {
  @apply h-40;
}

.navigation__socials-list {
  @apply flex items-center justify-center;
}

.navigation__socials-list:before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.09);
  flex: 1;
}

.navigation__socials-list:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.09);
  flex: 1;
}

.navigation__socials-list li {
  @apply border border-[#ffffff17] rounded-full flex justify-center items-center mx-2 cursor-pointer;
  width: 35px;
  height: 35px;
}

.navigation__socials-list li:first-child {
  @apply ml-0;
}

.navigation__socials-list li:last-child {
  @apply mr-0;
}
